html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f1f1f1;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin: 10px;
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #ee5555, #ee6e55);
}

#logo-c{
    display: flex;
    margin: auto 15px;
    width: 150px;
    height: 60px;
}

#logo{
    display: block;
    width: 150px;
}

#navbtn-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbtn{
    width: 130px;
    border-left: 2px #202c3c solid;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbtn p{
    margin: auto;
    height: 20px;
 
    color: #202c3c;
}

#wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 25px auto auto auto;
    position: relative;
}

#filter-c{
    background-color: transparent;
    min-width: 100px;
    flex-basis: 20%;
    min-height: 100px;
    overflow: hidden;
    
}

#filter-wrapper{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
}

.fa-search{
    margin: auto;
}



#results-c{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    margin-left: 20px;
}

.stock-item-c{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid rgb(219, 219, 219);
}

.side-shadow{
    width: 5px;
    height: 100%;
    background: linear-gradient(#ee5555, #ee6e55);
}

.car-image-c{
    margin: auto 20px;
}

.car-image{
    display: block;
    width: 300px;
    height: auto;
    max-width: 100%;
}

.info-text-c{
    flex-basis: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.info-bottom-c{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-evenly;
    margin: auto 0px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 3px 10px 3px 0px;
}

li{
    margin: 10px 0px;
    padding-left: 1.3em;
}

.li-imp::before{
    color: #ee6e55;
}

li::before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.carinfo-km::before{
    content: "\f018" !important; /* FontAwesome Unicode */
}

.carinfo-cam::before{
    content: "\f042" !important; /* FontAwesome Unicode */
}

.carinfo-ano::before{
    content: "\f073" !important; /* FontAwesome Unicode */
}

.carinfo-por::before{
    content: "\f061" !important; /* FontAwesome Unicode */
}

.info-top-c h2{
    margin: 5px 0px;
}

.side-separator{
    margin: auto 0px;
    width: 2px;
    height: 90%;
    background-color: gray;
}

.price-c{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 25%;
}

.saiba-mais-c{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 75px;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    color: white;
    cursor: pointer;
}

.saiba-mais-c h2{
    font-size: 1.7em;
    margin: auto;
}

#filter-show{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filter{
    cursor: pointer;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    margin: 2px;
    color: white;
    display: flex;
    flex-direction: row;
}

.filter p{
    margin-right: 4px;
    margin-left: 4px;
}

.fa-times{
    margin: auto auto auto 4px;
}

#wrapper{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 15px auto;
}

#info-section{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin-right: 20px;
}

#name-block{
    margin-bottom: 20px;
    height: 85px;
    border: 1px solid rgb(219, 219, 219);
}

#name-block{
    background-color: white;
    width: 100%;
}

#name-block h1, #name-block p{
    margin: 10px;
}


#about-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(233, 233, 233);
}

#tabs-c{
    display: flex;
    flex-direction: row;
}

.tab:nth-child(1){
    border-left: 1px solid #202c3c;
}

.tab{
    color: white;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    border-right: 1px solid #202c3c;
    border-top: 1px solid #202c3c;
    border-bottom: 1px solid #202c3c;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.1s ease;
}

.tab-show{
    border-bottom: 1px none !important;
    cursor: initial;
    opacity: 1;
}

.about-content{
    background-color: white;
    max-height: 300px;
    padding: 5px 0px;
}

#divider{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ee5555, #ee6e55);
}

.about-content ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    margin: 15px;
}

.about-content li{
    margin: 5px 0px;
}

#buy-section{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

#price-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 85px;
    margin-bottom: 20px;
    border: 1px solid rgb(219, 219, 219);
}

#price-h2{
    margin: 1px 15px;
    color: rgb(80, 80, 80);
}

#price{
    margin: 1px 15px;
}

#price-h2 h2{
    margin: 0px 0px;
}

#price h1{
    margin: 3px 0px;
}

#proposal-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
}

#proposal-button{
    margin-top: 15px;
}

.side-color{
    background: linear-gradient(to right, #ee5555, #ee6e55);
    height: 100%;
    width: 0px;
    transition: 0.1s ease;
}

.prop-btn{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 45px;
    margin: 5px auto;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(243, 243, 243);
    transition: 1s ease;
    cursor: pointer;
}

.prop-btn:hover{
    background-color: white;
}

.prop-btn p{
    display: flex;
    margin: auto;
}

#contact-c{
    margin: 5px 15px;
}

#contact-c h3{
    margin: 10px 0px;
}

.tel-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    color: white;
    cursor: pointer;
    text-align: center;
}

.tel-btn h4{
    font-size: 1.7em;
    display: flex;
    margin: auto 0px auto 15px;
    word-break: keep-all;
}

.tel-btn-content{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zip-zop{
    background: linear-gradient(to right, #59cf49, #3db461)
}

#picture-block{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
}

#main-display-c{
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    margin: 5px;
    position: relative;
}

.main-image{
    display: block;
    width: 800px;
    height: auto;
    max-width: 100%;
    transition: 0.7s ease;
}

#image-c{
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#preview-c{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 18%;
    justify-content: left;
}

.thumbnail{
    display: block;
    width: 190px;
    height: 130px;
    max-width: 100%;
    max-height: 100%;
    margin: 3px;
    transition: 0.7s ease;
    opacity: 0.7;
    cursor: pointer;
}

.thumbnail:hover{
    opacity: 0.9;
}


.left-ready{
    display: block;
    visibility: hidden;
    position: absolute;
    transform: translate(-800px, 0px);
}

.right-ready{
    display: block;
    visibility: visible;
    position: absolute;
    transform: translate(800px, 0px);
}

.leave-right{
    display: block;
    position: absolute;
    transition: 0s ease !important;
    visibility: visible;
    transform: translate(-800px, 0px);
    z-index: 0 !important;
}

.leave-left{
    display: block;
    position: absolute;
    visibility: hidden;
    transform: translate(-800px, 0px);
}

.showing{
    display: block;
    visibility: visible;
    position: relative;
    transform: translate(0px, 0px) !important;
    z-index: 1;
}

.display-arrow{
    width: 30px;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    height: 100%;
}

.arrow-img{
    display: block;
    width: 80%;
    height: auto;
    margin-left: 10px;
    position: absolute;
    top: 49%;
    opacity: 0.9;
}

.arrow-img:hover{
    opacity: 1;
}

.dsparrow-r{
   right: 0%;
}

.right-r{
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 10px;
}

.tab-selected{
    opacity: 1;
    box-shadow: 0px 3px red;
}

.notrans{
    transition: 0s;
}

.prop-c{
    visibility: hidden;
    width: 90%;
    margin: 0px auto;
    transition: 2s ease;
    max-height: 0;
    overflow: hidden;
}

.form-c{
    
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 10px;
    border-top: 0px solid !important;
    
}

.form{
    display: flex;
    flex-direction: column;
}

.form p{
    margin: 6px 0px 4px 0px;
}

input:active{
    border: 1px solid gray;
}

.input-full{
    border: 1px solid gray;
    animation-duration: 2s;
    animation-iteration-count: 4;
    height: 20px;
}

.input-full:focus, .input-big:focus{
    outline: none;
    border: 1px solid rgb(238, 81, 81);
    box-shadow: 0 0 5px rgb(238, 81, 81);
}

.input-big{
    height: 100px;
    resize: none;
    animation-duration: 2s;
    animation-iteration-count: 4;
    border: 1px solid gray;
}

.error{
    font-size: 0.8em;
    color: red;
}

.submit-btn{
    max-width: 130px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #f7f7f7;
    border-color: #a1a1a1;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    color: #202020;
    box-shadow: 0px 2px 0px 0px #fa4c4c;
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 0.8em;
}

.extras-li{
    margin-left: 25px !important;
}

.extras-anchor{
    margin-left: 25px;
}

.prop-open{
    margin-bottom: 0px;
    border-color: #d8815e;
}

.form-active{
    visibility: visible;
    max-height: 400px;
}

.submit-btn:hover{
    transform: translate(0px, 1px);
    box-shadow: 0px 1px 0px 0px #d14200;
}

.submit-btn:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px 0px #d14200;
}

#content-o{
    max-height: 150px;
}

#content-e{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-section{
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    padding: 5px;
    margin: 5px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[class^="fa"], [class*=" fa"] {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#rec-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

#rec-text{
    text-align: center;
}

#rec-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.rec-item{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 5px 10px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
}

.rec-img{
    display: block;
    width: 500px;
    height: auto;
    max-width: 100%;
}

.rec-specs-c{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.rec-specs-item{
    margin: 2px 5px;
}

.rec-text-c{
    margin: 3px;
}

.rec-text-c h4{
    margin: 4px 5px 0px 5px;
    font-size: 1.3em;
}

.separator{
    width: 95%;
    background-color: rgb(167, 167, 167);
    height: 3px;
    margin: auto;
}

.rec-shadow{
    width: 100%;
    height: 5px;
    background: linear-gradient(#ee5555, #ee6e55);
}

.rec-specs-item p{
    margin: 10px auto;
}

.back-btn{
    background: white;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
}

.back-btn p{
    margin: auto;
}

.back-img{
    display: block;
    width: 15px;
    height: auto;
    max-width: 100%;
    margin: auto 0px auto 10px;
}

#top-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.filter-section-c a p{
    display: inline-block;
    width: auto;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    padding: 4px;
    color: white;
    margin: 2px 0px;
    word-break: keep-all;
    white-space: nowrap;
}

.filter-section-c{
    display: flex;
    flex-direction: column;
}

.filter-section-c a{
    display: inline-block;
    max-width: 50px;
}

#filter-show{
    margin: 3px 0px 10px 0px;
}

#p-desgramento{
    margin: 0px 0px 10px 0px;
}

.al-set{
    background: linear-gradient(to right, rgb(216, 216, 216), rgb(223, 223, 223)) !important;
}

#searchbox-c{
    width: 700px;
    height: 30px;
    display: flex;
    margin: auto;
    position: relative;
}

#searchbox-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#searchbox-icon-c{
    width: 40px;
    border: 1px solid gray;
    height: 100%;
    display: flex;
    background-color: white;
}

#searchbox-input-c{
    width: 100%;
  
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: row;
}

#searchbox-form{
    height: 100%;
    width: 100%;
}

#searchbox-input{
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 3px;
    border: 1px solid gray;
}

#searchbox-results{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 698px;
    border: 1px solid gray;
    top: 30px;
    background-color: white;
    z-index: 2;
}

.searchbox-resitem{
    width: 100%;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.searchbox-resitem:hover{
    background-color: rgb(238, 238, 238);
}

.searchbox-resitem p{
    margin: auto 10px;
   
}

#banner-block{
    width: 80%;
    display: flex;
    margin: 15px auto;
    height: 330px;
    overflow: hidden;
}

#banner-container{
    width: 100%;
    height: 100%;
    
}

#banner-container #main-display-c{
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

#destaque-block{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    
    height: 400px;
    text-align: center;
}

#destaque-container{
    width: 98%;
    display: flex;
    
    height: 350px;
    margin: auto;
    overflow-x: scroll;
}

#destaque-item-container{
    display: flex;
    flex-direction: row;   
}

#destaque-item-container .rec-item{
    justify-content: space-between;
}

#destaque-item-container .rec-shadow{
    align-self: baseline;
}

.imfading{
    display: block;
    width: 20px;
    position: absolute;
    height: 333px;
    background: linear-gradient(to right, #f1f1f1, transparent);
    opacity: 0.5;
}

.imfrotated{
    background: linear-gradient(to left, #f1f1f1, transparent);
    right: 10.8%;
}

#image-preloader{
    display: none;
    visibility: hidden;
}

#destaque-block h2{
    margin-top: 0px;
}

#banner-container #main-display-c #image-c .blockifier .main-image{
    width: initial;
    max-width: 100%;
}

@keyframes blink-red{
    0% {border-color: gray;}
    50% {border-color: red;}
    100% {border-color: gray;}
}