html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e3e3e3;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin: 5px auto;
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #ee5555, #ee6e55);
}

#logo-c{
    display: flex;
    margin: auto 15px;
    width: 150px;
    height: 60px;
}

#logo{
    display: block;
    width: 150px;
}

#navbtn-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    text-align: center;
}

.navbtn{
    width: 130px;
    border-left: 2px #202c3c solid;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbtn p{
    margin: auto;
    height: 20px;
 
    color: #202c3c;
}

#wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 25px auto auto auto;
}

#filter-c{
    background-color: transparent;
    min-width: 100px;
    flex-basis: 20%;
    min-height: 100px;
    overflow: hidden;
}

#filter-wrapper{
    background-color: white;
    padding: 20px;
}


#results-c{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    margin-left: 20px;
}

.stock-item-c{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;
}

.side-shadow{
    width: 5px;
    height: 100%;
    background: linear-gradient(#ee5555, #ee6e55);
}

.car-image-c{
    margin: auto 20px;
}

.car-image{
    display: block;
    width: 300px;
    height: auto;
    max-width: 100%;
}

.info-text-c{
    flex-basis: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.info-bottom-c{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-evenly;
    margin: auto 0px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 3px 10px 3px 0px;
}

li{
    margin: 10px 0px;
    padding-left: 1.3em;
}

li::before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.carinfo-km::before{
    content: "\f018" !important; /* FontAwesome Unicode */
}

.carinfo-cam::before{
    content: "\f042" !important; /* FontAwesome Unicode */
}

.carinfo-ano::before{
    content: "\f073" !important; /* FontAwesome Unicode */
}

.carinfo-por::before{
    content: "\f061" !important; /* FontAwesome Unicode */
}

.info-top-c h2{
    margin: 5px 0px;
}

.side-separator{
    margin: auto 0px;
    width: 2px;
    height: 90%;
    background-color: gray;
}

.price-c{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 25%;
}

.saiba-mais-c{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 75px;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    color: white;
    cursor: pointer;
}

.saiba-mais-c h2{
    font-size: 1.7em;
    margin: auto;
}

#filter-show{
    display: flex;
    flex-direction: row;
}

.filter{
    cursor: pointer;
    background: linear-gradient(to right, #ee5555, #ee6e55);
    margin: 2px;
    color: white;
    display: flex;
    flex-direction: row;
}

.filter p{
    margin-right: 4px;
    margin-left: 4px;
}

.fa-times{
    margin: auto auto auto 4px;
}





